.w8{
    background-color: black;
}
nav{
    background-color: rgb(47, 47, 47);
    height: 150px;
    padding: 10px;
}
#w2{
    background-color:  rgb(47, 47, 47);
    font-size: 20px;
}
#w3{
    /* color: white; */
}
.w5{
    margin-top: 30px;
    margin-left: 20px;
    
}
.w6{
    margin-top: 30px;
}
.w8{
    background-color: black;
}
.w9{
    padding: 20px;
}
.w21{
    color: white;
}
.w22{
    padding: 20px;
}
.w23{
    display: flex;
    justify-content: space-between;
}
.w25{


}

















